html{
    height: 100%;
}
 body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
